.asu {
    width: 100%;
    height: 100vh;
}

.list-item {
    height: 100vh;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;

}
.clearcartbtn {
    position: absolute;
    bottom: 30px;
}
.clearcartbtn button {
    padding: 10px;
    width: 100%;
    border: none;
    background: greenyellow;
    border: 2px solid blue;
}

.istotal {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list-produk {
    display: flex;
    width: 40%;
    height: 20%;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
    border: 5px solid #FFFFFF;
    overflow-x: hidden;
}

.totaL {
    width: 20%;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
}

.kosong {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 70%;
    list-style: none;
    transition: 2s;
}

@media only screen and (max-width: 600px) {
    .istotal {
        width: 80%;
    }

    .list-produk {
        width: 100%;
        font-size: 20px;
        align-items: center;
    }

    .silang {
        position: absolute;
        top: 0;
        left: 20px;
        cursor: pointer;
    }

    .menuTogle {
        position: absolute;
        right: 20px;
        top: 6px;
    }

    .logo {
        position: absolute;
        left: 0;
        top: 6px;
        left: 30px;
    }

    .hai-manis {
        position: absolute;
        top: 0;
    }

    nav ul {
        display: flex;

        flex-direction: column;
        height: 100vh;
        position: absolute;
        top: -1000px;
        right: 0;
        width: 30%;
        transition: 2s;
        background: #FFFFFF;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.03);
        border-radius: 35px 0px 0px 35px;
        z-index: 2;

    }

}

@media only screen and (min-width: 600px) {
    .menuTogle {
        display: none;
    }

    .silang {
        display: none;
    }
}